*begin test

; house
;*cs out OSGB:SJ
;*cs OSGB:SJ
;*fix X 35300 89300 50 

; OS map coordinates (converted by survex to: "+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=100000 +y_0=-300000 +ellps=airy +datum=OSGB36 +units=m +no_defs"
*cs out OSGB:SO
*cs OSGB:SO
*fix X 38000 93000 180 ; easting(m) northing(m) alt(m)

*data normal from to tape compass clino
; square
X  1 100 0   0
1  2 100 90  0
2  3 100 180 0
3  X 100 270 0

; corner diagonal
X  6 30      90     0
6  7 31.62   288.43 0

; splay from square corner point
X  5 50      -      down
X  8 5       225    45
X  9 5       0      45
X  E 40      45     80
*entrance E

*data passage station left right up down
1 5 5 2 2
2 6 6 8 2 
3 5 5 2 2 

*fix cordonhill reference 30500 96953 513
*equate cordonhill landmark_cordon_hill   ; name landmark signifies it to be a mountain top

*fix north5 reference 38000 98000 180
*fix south5 reference 38000 88000 180
*fix east5 reference 43000 93000 180
*fix west5 reference 33000 93000 180
*equate north5 landmark_north5
*equate south5 landmark_south5
*equate east5 landmark_east5
*equate west5 landmark_west5

*end test
